<div class="flex-column body-padding">
    <!-- Heading & Description -->
    <div class="mr-bottom">
        <h1>Mortgage Calculator</h1>
        <p>{{ description }}</p>
    </div>
    <!-- Mortgage form controls -->
    <form [formGroup]="mortgageCalculatorForm" (ngSubmit)="mortgageSummaryCalculation(mortgageCalculatorForm.value)">
        <div class="flex-row mr-bottom">
            <!-- Payment card -->
            <mat-card class="flex-50 mr-20">
                <mat-toolbar color="primary" class="mr-bottom">
                    <span>Payment Plan</span>
                </mat-toolbar>
                <mat-card-content class="flex-column">

                    <div class="flex-row">
                        <mat-label class="flex-50 mr-top">Mortgage Amount:</mat-label>
                        <mat-form-field appearance="outline" class="flex-50">
                            <span matTextPrefix>$&nbsp;</span>
                            <input matInput type="number" formControlName="mortgageAmount">
                        </mat-form-field>
                    </div>

                    <div class="flex-row">
                        <mat-label class="flex-50 mr-top">Interest Rate:</mat-label>
                        <mat-form-field appearance="outline" class="flex-50">
                            <span matTextSuffix>%</span>
                            <input matInput type="number" formControlName="interestRate" maxlength="2">
                        </mat-form-field>
                    </div>

                    <div class="flex-row">
                        <mat-label class="flex-50 mr-top">Payment Frequency:</mat-label>
                        <mat-form-field appearance="outline" class="flex-50">
                            <mat-select disableRipple formControlName="paymentFrequency">
                                <mat-option *ngFor="let payment of paymentFrequencyList"
                                    [value]="payment.value">{{payment.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="flex-row">
                        <mat-label class="flex-50 mr-top">Amortization Period:</mat-label>
                        <mat-form-field appearance="outline" class="flex-50">
                            <mat-select disableRipple formControlName="amortization">
                                <mat-option *ngFor="let year of amortizationYears" [value]="year">{{year}} {{year>1 ?
                                    'Years' :
                                    'Year'}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
            <!-- PrePayment card -->
            <mat-card class="flex-50">
                <mat-toolbar color="primary" class="mr-bottom">
                    <span>Prepayment Plan</span>
                </mat-toolbar>
                <mat-card-content>
                    <div class="flex-row">
                        <mat-label class="flex-50 mr-top">Prepayment Amount:</mat-label>
                        <mat-form-field appearance="outline" class="flex-50">
                            <input matInput value="0.00">
                        </mat-form-field>
                    </div>

                    <div class="flex-row">
                        <mat-label class="flex-50 mr-top">Prepayment Frequency:</mat-label>
                        <mat-form-field appearance="outline" class="flex-50">
                            <input matInput value="One time">
                        </mat-form-field>
                    </div>

                    <div class="flex-row">
                        <mat-label class="flex-50 mr-top">Start With Payment:</mat-label>
                        <mat-form-field appearance="outline" class="flex-50">
                            <input matInput value="1">
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <button mat-raised-button color="primary" class="mr-bottom">Calculate</button>
    </form>
    <!-- Summary section -->
    <mat-toolbar class="flex-center mat-elevation-z8">
        <span>Calculation Summary</span>
    </mat-toolbar>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>

        <ng-container matColumnDef="term">
            <th mat-header-cell *matHeaderCellDef> Term </th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.category==='No of Payments';else conditionNotMet">
                    {{element.term}}
                </div>
                <ng-template #conditionNotMet>
                    {{element.term | number : '1.2-2'}}
                </ng-template>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="summaryTableHeader"></tr>
        <tr mat-row *matRowDef="let row; columns: summaryTableHeader;"></tr>
    </table>
</div>